<div>
    <h2>
        <span jhiTranslate="anivipTestApp.pass.home.title">Passes</span>
        <button class="btn btn-primary float-right create-pass" [routerLink]="['/', { outlets: { popup: ['pass-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="anivipTestApp.pass.home.createLabel">
            Create new Pass
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="passes">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="anivipTestApp.pass.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="price"><span jhiTranslate="anivipTestApp.pass.price">Price</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let pass of passes ;trackBy: trackId">
                <td><a [routerLink]="['../pass', pass.id ]">{{pass.id}}</a></td>
                <td>{{pass.description}}</td>
                <td>{{pass.price}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../pass', pass.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pass/'+ pass.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'pass/'+ pass.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
